/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Your custom styles (if any) */
.background {
  background-image: url('backgound.jpeg');
  background-size: cover;
  background-position: center;
}